@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,500&family=Teko:wght@400;500;600&display=swap");
h1,
h2,
h3 {
  font-family: "Teko", sans-serif;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
}

.intro__title {
  font-size: 1.8em;
  text-transform: uppercase;
}

.section__head {
  color: #c13f3f;
  font-size: 1.2em;
  padding: 10px 0;
  text-transform: uppercase;
}

.section__subhead {
  font-size: 1.1em;
  padding-bottom: 10px;
}

.section__body {
  font-size: 1em;
  line-height: 1.6em;
  color: #5a6369;
}

.section p {
  padding-bottom: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
  font-size: 1.1em;
  background-color: #ecf0f1;
}

.section {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 0 auto;
}

.section__head {
  background-color: #ecf0f1;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  position: -webkit-sticky;
  position: sticky;
  padding:10px 0 6px;
  top: 0;
}

.section__head::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #28292a;
}

header {
  color: white;
  background-color: #c13f3f;
  background-image: url("../img/bg-main.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.intro {
  width: 90%;
  margin: 10px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto;
  grid-template-columns: 100px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro__side {
  -ms-grid-column-align: left;
  justify-self: left;
}

.intro__side img {
  width: 70px;
  height: 70px;
  display: block;
  border: 3px solid #fff;
}

.intro__title {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.intro__main {
  padding-left: 15px;
}

.intro__line {
  display: none;
}

.intro a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1.2em;
  }
  .section {
    -ms-grid-columns: 150px 1fr;
    grid-template-columns: 150px 1fr;
  }
  .section__head {
    padding: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    top: 10px;
  }
  .section__head::after {
    content: none;
  }
  .section__body {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    border-left: 1px solid #999;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1300px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 1fr;
    grid-template-columns: 300px 1fr;
    font-size: 1.5em;
    grid-row-gap: 50px;
  }
  .section {
    -ms-grid-columns: 200px 1fr;
    grid-template-columns: 200px 1fr;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/ 3;
  }
  .section--primary {
    margin-top: 30px;
  }
  header {
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
  }
  header .intro {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  header .intro__side,
  header .intro__main {
    -ms-grid-column-align: center;
    justify-self: center;
    text-align: center;
    padding: 20px 0;
  }
  header .intro p {
    font-size: 0.8em;
  }
  header .intro img {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 500px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-attachment: scroll;
  }
  .intro {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    color: #ecf0f1;
  }
  .intro__line {
    display: block;
    padding: 20px 20px 30px;
  }
  .intro__side {
    -ms-grid-column-align: center;
    justify-self: center;
    margin-bottom: 20px;
  }
  .intro__main {
    -ms-grid-column-align: center;
    justify-self: center;
    text-align: center;
    padding: 0;
  }
  .intro img {
    width: 160px;
    height: 160px;
  }
}